/* reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-size:100%;vertical-align:baseline;text-decoration:none}
strong{font-weight:bold;}
:focus{outline:0}
body{font-family:Arial, Helvetica, sans-serif;font-size:13px}
ol, ul{list-style:none}
table{border-collapse: separate;border-spacing:0}
caption, th, td{text-align: left;font-weight: normal}
blockquote:before, blockquote:after, q:before, q:after {content: ""}
blockquote, q{ quotes: "" ""}
html{overflow:-moz-scrollbars-vertical}
a{color:#989898}
a:hover{text-decoration:none;}
.clear {clear: both;}
.radius{-moz-border-radius: 5px;border-radius: 5px;-webkit-border-radius: 5px;}
.radius-two{-moz-border-radius: 3px;border-radius: 3px;-webkit-border-radius: 3px;}
.shadow{box-shadow:0px 0px -10px #7d7d7d;-moz-box-shadow:0px 0px 1px #7d7d7d;-webkit-box-shadow:0px 0px 1px #7d7d7d;}

body{background-color:#fff;}
a.open{text-align:center;font-size:36px;color:#fff;text-shadow:0 -2px 0 #8C2427;-moz-text-shadow:0 -2px 0 #8C2427;-webkit-text-shadow:0 -2px 0 #8C2427;background:#F34E52;display:block;width:443px;border:1px solid #cd4043;border-bottom:1px solid #fc888b;padding:20px 20px;box-shadow:0 8px 0px #8c2427;-moz-box-shadow:0 8px 0 #8c2427;-webkit-box-shadow:0 8px 0 #8c2427;border-radius:10px;-moz-border-radius:10px;-webkit-border-radius:10px;margin:200px auto 0;position:relative;top:20px;z-index:0;}
a.open:hover{background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.3, rgb(204,45,50)),
    color-stop(0.65, rgb(243,78,81)),
    color-stop(0.83, rgb(243,78,81))
);
background-image: -moz-linear-gradient(
    center bottom,
    rgb(204,45,50) 30%,
    rgb(243,78,81) 65%,
    rgb(243,78,81) 83%
);}

a.open:active{background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.3, rgb(179,9,15)),
    color-stop(0.65, rgb(243,78,81)),
    color-stop(0.83, rgb(243,78,81))
);
background-image: -moz-linear-gradient(
    center bottom,
    rgb(179,9,15) 30%,
    rgb(243,78,81) 65%,
    rgb(243,78,81) 83%
);}
footer{background:#232323;width:100%;height:100px;display:block;position:absolute;bottom:0px;}
